//
// Table RWD
//
// ==================================================

/*!---
title:   Table RWD
section: Atoms
---
*/


.rwd-table
  margin 1em 0
  min-width 300px
  background $logo-escuro
  color #fff
  border-radius .4em
  overflow hidden
  
  tr
    border-top 1px solid #ddd
    border-bottom 1px solid #ddd
    border-color lighten($logo-escuro, 30)
    
  th, td
    text-align left
    margin .5em 1em
    
    @media (min-width: 480px)
      padding 1em !important
  
  th, td:before
    color $logo-principal
  
  th
    display none
    
  td
    display block
    font-size 16px
    
    a
      font-size 20px
      
      &:hover
        color $logo-principal
    
    &:first-child
      padding-top .5em
    
    &:last-child
      padding-bottom .5em
    
    &:before
      content attr(data-th) ": "
      font-weight bold
      width 6.5em
      display inline-block



@media (min-width: 480px)
  .rwd-table
    td:before
      display none
    
    th, td
      display table-cell
      padding .25em .5em
      
    th:first-child, td:first-child
      padding-left 0
      
    th:last-child, td:last-child
      padding-right 0